.navbar-light .active>.navbar-nav-link, .navbar-light .navbar-nav-link.active, .navbar-light .navbar-nav-link.show, .navbar-light .show>.navbar-nav-link {
  color: #333;
  background-color: #0000001c;
}

.navbar-nav-link {
  font-weight: 500;
}

.card-body{
  background: #ffff;
}

.modal-content{
  color:black;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 7px;
  font-size: 12px;
  box-sizing: border-box;
}
.small-button{
  height: 30px;
  width: 80px;
  background: none;
  border-radius: 30px;
  border: 1px solid rgb(209, 207, 207);
  outline: 1px solid rgb(209, 207, 207);
  cursor: pointer;
}

.text-size{
  font-size: 11px;
}

a{
  color: black;
}


/* query page custom css */
.bg-orange{
  background-color: orange;
}
.text-orange{
  color: orange;
}

.bg-height30{
  height: 30px;
}

.input-style{
  background-color: rgb(209, 230, 231);
  border: none;
  border-radius: 1px;
  outline: none;
  padding: 8px 5px;
  font-weight: 500;
}
.date-input{
  background: none;
  border: none;
  outline: none;
}
.input-border-bottom{
  border-bottom: 2px solid rgb(158, 156, 156);
}
.font-size-9{
  font-size:9px;
  font-weight: 500;
}
.card-bg-color{
  background-color: rgba(228, 244, 245, 0.686);
}

/* /query page custom css */


/* master page custom css */
.master-head{
    font-size: 12px;
    font-weight: 500;
}
.master-head-img img{
    height: 40px;
    width: 40px;
}
.master-list-icon img{
    height: 15px;
    width: 15px;
}
.master-list-icon span{
    font-size: 12px;
    font-weight: 400;
}
/* /master page custom css */

/*  form input custom style*/

.form-input{
  width: 100%;
  border: 1px solid rgb(209, 207, 207);
  outline: none;
  border-radius: 2px;
  height: 37px;
  padding-left: 10px;
}


/* font-size */
.fs-11{
  font-size: 11px;
}

.custom-h-37{
  height: 37px;
}

/* btn color */

.btn-gray{
  background-color: rgb(220, 217, 217);
}

/* query page arrow icon */
.up-arrow{
  font-size: 16px;
}
.point-cursor{
  cursor: pointer;
}

/* Profile Img Div */

.profile{
  height: 130px;
  width: 130px;
}
.profile img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

