@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: 'Montserrat', sans-serif;
}
.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 7px;
  font-size: 12px;
  box-sizing: border-box;
}
.addButton {
  height: 30px;
  font-size: 10px;
  font-weight: 500;
  height: 30px;
  width: 80px;
  padding: 0;
  box-sizing: border-box;
}
.toastings {
    border: 1px solid #713200;
    height:50px;
    width:600px;
    padding: 16px 10px;
    color: red;
    font-size:12px;
    
}